body{
    background: url('../bg.jpg') no-repeat center center/cover;
    height: 120vh;
}
.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
h1{
    margin-top: 12px;
    font-size: 36px;
    text-align: center;
    font-family: 'Rye', cursive;
    color: #930718;
}

.container{
    max-width: 955px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 34px;
    overflow-y: auto ;
    margin-bottom: 23px;
}

.message{
    background-color: rgb(208, 218, 221);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1025px;
    width: 100%;
}
#messageinp{
    width: 87%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    width: 70px;
}
